/******************

base

******************/

* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Garet';
    src: url("assets/fonts/Garet-Book.ttf");
}

@font-face {
    font-family: 'Gontserrat-Light';
    src: url("assets/fonts/Gontserrat-Light.ttf");
}

@font-face {
    font-family: 'Gontserrat-SemiBold';
    src: url("assets/fonts/Gontserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Xolonium-Regular';
    src: url("assets/fonts/Xolonium-Regular.ttf");
}

@font-face {
    font-family: 'title-font';
    src: url("assets/fonts/Helmet-Regular.ttf");
}

body {
    color: white;
    background-image: url("assets/images/void_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Garet', Helvetica, Arial, sans-serif;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin-top: 75px; /* to account for the fixed navbar */
}

html {
    scroll-behavior: smooth;
}

.footer-page {
    background-image: url("assets/images/gray_void_background.jpg");
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

a {
    color: #77aaff;
}

.title {
    font-family: 'title-font', 'Gontserrat-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 6rem;
    text-align: center;
    padding: 0;
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

.mini-title {
    font-family: 'title-font', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 0;
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

.fade-up {
    animation: fadeUp ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeUp{
    0% {
        opacity: 0;
        transform: translateY(30px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-down {
    animation: fadeDown ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeDown{
    0% {
        opacity: 0;
        transform: translateY(-30px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}




/******************

navigation bar

******************/

nav .logo a {
    padding: 10px;
}

nav {
    color: white;
    background:  #000000;
    padding-inline: 10px;
    margin: 0;
    text-align: left;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;

    /* nav bar sticks to top of page */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    /* shadow below navbar */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

nav a:link,
nav a:visited {
    text-decoration:none;
    color: inherit;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    height: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 20px;
    margin: 0;
    line-height: 24px;
    height: 75px;
    display: flex;
    align-items: center;
}


nav ul li:not(.logo) a:hover {
    background: white;
    font-weight: bold;
    color: #191919;
    border-bottom: none;
}

.menu-btn {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 3;
}

.dropdown-content a {
    width: 130px;
}

.dropdown-content a:hover {
    width: 130px; /* TODO figure out how to make this not magic */
}

.dropdown:hover .dropdown-content {
    display: block;
}



/******************

header and banner

******************/


.banner {
    position: relative;
    margin: 0;
    height: 800px;
    padding: 0;
    overflow: hidden;
}



#banner-tint {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: -1;
}

.banner-image {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    /* ensure tymon stays in frame */
    background-position: left;
    background-image: url("assets/images/banner1.jpg");
    z-index: -100;
    opacity: .6
}



.banner h2 {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #ffffff
}

.landing {
    padding-top: 80px;
    color: white;
    font-size: 8rem;
}

#landing-buttons{
    display: flex;
    padding-top: 7.5%;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
}

.banner .button-link{
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #0018a3ce;
    color: #ffffff;
    border: none;
    text-align: center;
    font-size: 3rem;
    font-family: 'title-font';
    cursor: pointer;
    text-decoration: none;

    flex: 1 1 calc(50% - 40px); 
    max-width: calc(50% - 40px); 
    box-sizing: border-box; 
}



/******************

PSL info

******************/
.psl-info {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

#info {
    flex: 1;
}



/******************

Upcoming Events Figures

******************/
section.events { 
    padding: 80px;
    background: black;
}


.event-figs {
    padding-top: 60px;
    display: flex;
    justify-content: space-between; 
    align-items:baseline;
    flex-wrap: wrap;
}

.event-figs figure {
    margin: 10px;
    text-align: center;
    flex: 1; 
    filter: drop-shadow(3px 3px 3px #000000);
}

.event-figs figure:not(.tbd-event) img:hover {
    outline:5px solid #2522FF;
    cursor: pointer;
}

.event-figs img {
    max-width: 300px;
    max-height: 300px; 
    height: auto;
}

.event-figs figure figcaption {
    font-size: 2rem;
}



/******************

Event popup

******************/

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.popup-content {
    display: flex;
    width: 80%;
    max-width: 800px;
    background: #222222;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 4rem;
    cursor: pointer;
}

.popup-left {
    width: 50%;
    padding-right: 20px;
}

.popup-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
}

#popup-image {
    width: 100%;
    height: auto;
}

#popup-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

#popup-description {
    font-size: 1rem;
}

#popup-button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #2522FF;
    color: white;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: Gontserrat-Semibold;
    cursor: pointer;
}




/******************

Event Info Page

******************/

.event-info{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5% 10px 5%;
}

/* specific location backgrounds*/
#san-diego {background-image:url("assets/images/ucsd-event.jpg");}
#michigan {background-image:url("assets/images/michigan-event.jpg");}
#vegas {background-image:url("assets/images/vegas-event.jpg");}

.event-info h2{
    text-align: center;
    line-height: 200%;
    padding-top: 60px;
    font-size: 1.5rem;
    color: #bbbbbb;
    filter: drop-shadow(0px 0px 4px black);
}

.event-info .event-details #event-reg-list {
    list-style-type: none;
}

.event-info .event-details {
    padding-top: 1%;
    text-align: left;
}


#info {
    flex: 1;
}

/* entire section for both schedule and broadcast*/
.schedule {
    padding: 2% 20% 5% 20%;
}

.schedule .title {
    padding: 2%;
}

/* css of the schedule table specifically */
#schedule-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #ffffff
}

#schedule-table th, #schedule-table td{
    border: 1px solid #ddd;
    padding: 10px;
}

#schedule-table th {
    background-color: #440000;
    color: white;
    font-weight: bold;
}

#schedule-table tr:nth-child(even) {
    background-color: #303030;
}

#schedule-table tr:nth-child(odd) {
    background-color: #191919;
}

#schedule-table tr:hover {
    background-color: #a00000;
    color: #F1CF11;
}

#psl-logo{
    max-width: 25%;
}



/******************

Sponsors Page

******************/


.partners {
    padding-top: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}


.partners figure {
    margin: 10px;
    text-align: center;
    flex: 1; 
    filter: drop-shadow(3px 3px 3px #000000);
}

.partners img {
    max-width: 400px; 
    max-height: 400px;
    height: auto; 
    border-radius: 25px;
}

/* ensure non-square logos render as square like the others */
.partners img.square-logo {
    width: 400px;
    height: 400px;
    object-fit: contain;
    background: #000; /* optional backdrop to match site theme */
}

.partners img:hover {
    outline:5px solid #0080ff;
}

.partners figure figcaption {
    font-size: 2rem;
    font-family: 'title-font';
    text-transform: uppercase;
}



/******************

Default section template

******************/

section.textsection {
    padding:80px;
}

section.textsection h2{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 200%;
    padding-top: 60px;
    font-size: 1.5rem;
    color: #bbbbbb
}

section.textsection.leftsection h2 {
    text-align: left;
}

.mini-title.leftsection {
    text-align: left;
    padding-left: 100px;
}

section.lightsection {
    background-color: black;
}

/* bold and also changes font color */
b {
    color: #ffffff;
    font-family: Gontserrat-SemiBold, Helvetica, Arial, sans-serif;
}

strong {
    font-family: Gontserrat-SemiBold, Helvetica, Arial, sans-serif;
}

.videos {
    display: block;
    margin:0 auto;
    text-align:center;
}


/******************

Footer

******************/

footer {
    background-color: black;
    margin: 0;
    margin-top: auto;
    padding: 50px;
    color: #bbb;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

footer ul li {
    display: inline-block;
    margin: 0;
    padding: 0 50px 0 0;
}

footer ul li a {
    color: #bbb;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #2522FF;
    text-underline-offset: 20%;
}

footer .socials {
    display: inline-block;
    align-items: center;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -99999px; /* hide the footer text */
    overflow: hidden;
}

footer .socials:hover {
    filter: invert(30%) sepia(90%) saturate(5000%) hue-rotate(190deg) brightness(90%) contrast(100%);
}

#insta { background-image: url("assets/images/instagram_logo.png"); }
#youtube { background-image: url("assets/images/youtube_logo.png"); }
#tiktok { background-image: url("assets/images/tiktok_logo.png"); }
#twitter { background-image: url("assets/images/x_logo.png"); }
#linkedin { background-image: url("assets/images/linkedin_logo.png"); }
#discord { background-image: url("assets/images/discord_logo.png"); }




/******************

Responsive design for Mobile

*******************/

@media screen and (max-width: 1800px) {
    .event-figs img{
        max-width: 400px;
        max-height: 400px;
    }
}

/* breakpoint to make psl info look goofy */
@media screen and (max-width: 1500px) {
    .psl-info {
        display: inline-block;
    }

    #trailer {
        text-align: center;
        margin-top: 5%;
    }
    #banner-tagline{
        padding-top: 50px;
    }

    #landing-buttons {
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}

/* banner breakpoint */
@media screen and (max-width: 1350px) {


    section.textsection h2 {
        padding: 10px;
    }
    .mini-title.leftsection {
        padding-left: 10px;
    }

    .banner .button-link{
        font-size: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    .event-figs img {
        max-width: 600px;
        max-height: 600px;
    }
    #banner-tagline {
        padding-top: 200px;
    }

    footer ul {
        flex-direction: column;
        align-items: flex-start;
    }

    footer ul li {
        padding: 5px;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin-top: 0; /* remove margin for fixed navbar */;
    }
    .main-nav {
        display: none;
        flex-direction: column;
        justify-content: center;    /* Center items horizontally */
        align-items: center;        /* Center items vertically (optional, for vertical centering) */
        padding-top: 30px ;
    }

    .menu-btn {
        display: flex;
        justify-content: center;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2000;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        margin: 0;
    }

    nav ul li {
        text-align: center;
        align-items: center;
    }

    nav ul li a {
        margin: 0;
        padding: 10px;
        align-items: center;
        height: 50px;
    }
    
    .landing {
        font-size: 6rem;
    }

    #landing-buttons {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (max-width: 800px) {
    .event-figs img {
        max-width: 400px;
        max-height: 400px;
    }

    
    #popup-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }


}

@media screen and (max-width: 600px) {
    .title {
        font-size: 4rem;
    }
}


.glass {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.hover.glass:hover {
    background: rgba(255,255,255,0.2);
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    transition: background 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.dark {
    color: rgb(127, 127, 127);
}