.loading {
  font-size: 1.5rem;
  text-align: center;
  margin: 50px 0;
  color: white;
  font-weight: bold;
}

.win {
    color:rgb(62, 229, 62);
}

.loss {
    color:rgb(236, 64, 64)
}

/* profile header */

.season {
    font-size: 40px;
    margin-top: 20px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    margin-left: 50px;
}

.profile-header .title {
    font-size: 80px;
    font-family: Gontserrat-SemiBold;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile-header .rank {
    font-size: 40px;
    font-family: Garet;
    font-style: italic;
}

.profile-header div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile-header img {
    width: 100%;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.profile-image-container {
    background-image: url(/assets/images/transparent_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 500px;
}

/* profile stats */
.profile-stats {    
    display: flex;
    justify-content: space-around;
    gap: 45px;
    padding: 30px;
}

.profile-stats .value {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.left-stats, .right-stats {
    display: grid;
    gap: 20px;   
    grid-template-columns: 1fr 1fr 1fr;
}

.mid-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-title {
    font-size: 40px;
    margin-bottom: 20px;
    grid-column: span 3;
    text-align: center;
}

/* matches section */
.matches-title {
    font-size: 50px;
    margin-top: 50px;
}

.matches-list h3 {
    white-space: nowrap;
}

.matches-list {
    gap: 50px;
    color:white;
    margin: 50px 0px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 600px;
}

.match-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    gap: 30px;
}

.set-toggle {
    position: absolute;
    top: 2px;
    right: 6px;
    cursor: pointer;
    opacity: 0.7;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.set-toggle.rotated {
  transform: rotate(0deg);
}

.comp-name, .opp-name {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    align-items: center;
}

.comp-name{
    justify-content: right;
}

.opp-name {
    justify-content: left;
}

/* set styles */
.match-sets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.set {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    font-weight: bold;
}

.set-header {
    position: relative;
    font-size: 20px;
}

.set > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.set-solve.collapsed {
    display: none;
}

.set-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.solve-time {
    font-family: 'Gontserrat-Semibold', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.solve-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.solve-info svg {
    width: 15px;
    height: 15px;
    color: white;
}

.solve-info svg.dark-link {
    color: rgb(127, 127, 127)
}
/* match footer  */

.match-footer  {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.match-footer, .video-footer {
    color: rgb(187, 187, 187);
    font-weight: bold;
    font-size: 18px;
}

.videos-section {
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.link {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}
.link a {
    display: flex;
    align-items: center;  
}
.link svg {
    width: 100%;
    height: 100%;
}
/* general  */
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.win {
    color: rgb(56, 244, 56) !important;
}
.loss {
    color: rgb(216, 73, 73) !important;
}


/* vidoes section */

.videos-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    padding: 75px;
    background-color: black;
}

.videos-section > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.videos-section iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: block;

  box-shadow: 0 10px 50px 20px hsla(240, 50%, 25%, 0.3); /* blue glow */
  /* for white glow, replace with: box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8); */
  transition: box-shadow 0.3s ease-in-out;

}

.videos-section iframe:hover {
  box-shadow: 0 0 75px 30px hsla(240, 100%, 25%, 0.4); /* blue glow */
}
.match-footer:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white
}